# LLM
OPENAI_API_KEY=your_key_here

# Search
EXA_API_KEY=your_key_here

# Vector DB
PINECONE_API_KEY=your_key_here
PINECONE_INDEX_NAME=research-agent

# Observability
LANGCHAIN_API_KEY=your_key_here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=multi-agent-research

# Error tracking
SENTRY_DSN=your_dsn_here

# App
APP_ENV=development
MAX_CRITIC_ITERATIONS=3

# LlamaGuard
GROQ_API_KEY=your_key_here

#Supabase
SUPABASE_URL=SUPABASE_URL
SUPABASE_KEY=your_anon_key
DATABASE_URL=DATABASE_URL